@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    @if (Model.Count == 0)
    {
        <h1>No orders available to collect.</h1>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <tr>
                <th>Request Id</th>
                <th>Restaurant Name</th>
                <th>Description</th>
                <th>Employee Name</th>
                <th>Expire In</th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                var expiry = DateTime.Now - item.Request.Expiry_Date;
                var expireIn = expiry < TimeSpan.Zero
                    ? "Expired!"
                    : $"{expiry.Days}d, {expiry.Hours}h, {expiry.Minutes}m";

                <tr>
                    <td>@item.Request_Id</td>
                    <td>@item.Request.Restaurant.Name</td>
                    <td>@item.Request.Description</td>
                    <td>@item.Employee.Name</td>
                    <td>@expireIn</td>
                    @if (expireIn == "Expired!") {
                        <td>Expired!</td>
                    } else {
                        <td><a href="/Orders/Collect/@item.Id" class="btn btn-primary">Collect & Distribute</a></td>
                    }
                </tr>
            }
        </table>
    }
</div>


@*var pendingOrders = item.Orders.Count - item.Histories.Count;*@
